/* components/Skills.css */
.skills-section {
    text-align: center;
    padding: 42px 20px 28px 20px;
    background: url("/public/bag8.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  .skills-highlight {
    color: #e2e7e1;
  }

  .skills-section h3 {
    color: #ffbe4e;
  }
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
    margin-top: 18px;
  }
  .skill-item {
    background: #f0ffe3;
    border-radius: 18px;
    padding: 18px 16px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px #282c27;
    margin-bottom: 15px;
  }
  .skill-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .skill-percent {
    font-weight: bold;
    color: #ffbe4e;
    font-size: 1.1rem;
  }
  .skill-label {
    font-size: 0.96rem;
    margin-top: 2px;
  }
  
  @media (max-width: 650px) {
    .skills-list {
      gap: 13px;
    }
    .skill-item {
      width: 80px;
      padding: 14px 7px;
    }
  }
  