.techstack-section {
    padding: 1rem 20px;
    padding-bottom: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
  
.techstack-heading {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
    color:rgb(13, 162, 155);
    animation: slideUp 3s ease-in;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;
}
  
.techstack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}
  
.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 10px;
    animation: slideUp 3s ease-in;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
  
.tech-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
  
.tech-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.tech-name {
    font-size: 1rem;
    font-weight: 500;
    color: #c6c6c6;
}

@keyframes appear{
    from {
        opacity:0;
        transform: (200%);
    } to {
        opacity: 1;
        transform: (0);
    }
}

@media (max-width:800px) {
    .techstack-heading {
        font-size: 40px;
    }

    .techstack-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    }
}

@media (max-width:700px) {
    .techstack-section {
        padding-top: 0.5rem;
    }

    .techstack-heading {
        font-size: 32px;
    }
}

@media (max-width:600px) {
    .techstack-heading {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .techstack-grid {
        scale:0.9;
    }

    .techstack-section {
        padding-bottom: 0.6rem;
    }
}

@media (max-width:500px) {
    .techstack-heading {
        font-size: 20px;
    }

    .techstack-section {
        margin-bottom: 0.4rem;
    }

    .techstack-grid {
        scale:0.9;
    }
}

@media (max-width:450px) {
    .techstack-section {
        height: 550px;
    }
   
    .techstack-grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
        scale:0.8;
    }

    .techstack-heading {
        position: relative;
        bottom: -20px;
    }
}




  