
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    font-family: "Montserrat" , serif;
    box-sizing: border-box;
}

body {
    background: url("/public/bag1.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width:600px) {

    body {
        background: url("/public/abstract-digital-grid-black-background.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
}


